<ion-app>
  <ion-menu contentId="main-content" swipeGesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item button [routerLink]="['/home']">
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/heroes']">
            <ion-label>Heroes List</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
