<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Heroes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Heroes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let hero of heroes; trackBy: trackById">
      <ion-card class="hero-card">
        <div class="hero-image">
          <img alt="Hero Photo" [src]="hero.photo" />
        </div>
        <div class="hero-content">
          <ion-card-header>
            <ion-card-title>{{hero.name}}</ion-card-title>
            <ion-card-subtitle>{{hero.alias}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{hero.description}}
          </ion-card-content>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
