.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-span {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  font-family: var(--ion-font-family, inherit);
  margin-left: .5rem;
}
.container-description {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ion-font-family, inherit);
  text-align: center;
  margin-top: 1rem;
}
.container-body {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.button-start {
  height: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  touch-action: manipulation; /* para controlar el comportamiento tactil */
}
.button-start:hover {
  animation: pulse 1s infinite;
}

/* Animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 123, 255, 0.4);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.6);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 123, 255, 0);
  }
}
.button-start:focus {
  outline: none;
}
