<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="container-header">
        <img [src]="imageHeader" alt="header"/>
        <span class="header-span">Home</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div class="container-description">
      <ion-label>
        <h1>Demo Loader</h1>
      </ion-label>
      <ion-label>
        <p class="description">This is a simple application to test Loader functionality. Please click in button "Start" to begin with it.</p>
      </ion-label>
    </div>
    <div class="container-body">
      <ion-button (click)="simulateApiCall()" class="button-start">Start</ion-button>
    </div>
  </ion-content>
</ion-content>
<app-loader *ngIf="isLoading" [imagesPack]="1" [intervalTime]="1000"></app-loader>
